/*
nav-styles
*/

/*
-------------------------------------------------------
Breakpoint - 375px
*/

.background-main-nav {
  background-color: black;
}

.limiter-header {
  max-width: 100%;
}

/*Display-styles*/

.dis-s1 {
  display: none;
}

.dis-s3 {
  display: none;
}

.dis-btn-s2 {
  display: none;
}
.d-text-s2 {
  display: none;
}

/***************/

/*order-s1*/

.wrapper-s1-1 {
  display: flex;
  order: 1;
  width: 390px;
  justify-content: space-between;
  align-items: center;
}

.wrapper-s1-2 {
  display: flex;
  order: 2;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
/***************/

/*order-s2*/

.wrapper-s2-1 {
  display: flex;
  order: 1;
  width: 220px;
  justify-content: space-between;
}

.wrapper-s2-2 {
  display: flex;
  order: 2;
  width: 50px;
  justify-content: space-between;
}

.wrapper-s2-3 {
  display: flex;
  order: 3;
  width: 100%;
}
/***************/

.custom-btn-toggle {
  margin: 0;
}

.custom-search-mn {
  width: 100%;
  margin-top: 10px;
}

.custom-input-t-search-mn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.custom-btn-search-mn {
  margin: 0;
  padding: 10px 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.custom-btn-search-mn:hover {
  background-color: black;
  color: white;
}

/*
styles-section-3
*/
.btn-main-nav-s3 {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
}

.s-item-s3 {
  display: none;
}

/*
-------------------------------------------------------
Breakpoint - 768px
*/
@media screen and (min-width: 768px) {
  .limiter-header {
    max-width: 728px;
  }

  /*Display-styles*/

  .dis-s1 {
    display: flex;
  }

  .dis-s3 {
    display: flex;
  }

  .dis-btn-s2 {
    display: none;
  }

  .dis-btn-s3 {
    display: none;
  }

  .dis-btn-bur {
    display: inline-block;
  }

  .d-text-s2 {
    display: none;
  }

  /***************/

  /*order-s1*/

  .wrapper-s1-1 {
    display: flex;
    order: 1;
    width: 390px;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-s1-2 {
    display: flex;
    order: 2;
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }
  /***************/

  /*order-s2*/
  .wrapper-s2-1 {
    order: 1;
  }

  .wrapper-s2-2 {
    order: 3;
  }

  .wrapper-s2-3 {
    order: 2;
    width: 400px;
  }
  /***************/

  .nav-s-1 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .style-bs-mn {
    border-bottom: 1px solid #414141;
  }

  .s-item-s3 {
    display: none;
  }
}

/*
-------------------------------------------------------
Breakpoint - 1024px
*/

@media screen and (min-width: 1024px) {
  .limiter-header {
    max-width: 984px;
  }

  /*Display-styles*/

  .dis-s1 {
    display: flex;
  }

  .dis-s3 {
    display: flex;
  }

  .dis-btn-s2 {
    display: none;
  }

  .dis-btn-s3 {
    display: none;
  }

  .dis-btn-bur {
    display: inline-block;
  }

  .d-text-s2 {
    display: none;
  }
  /***************/

  /*order-s2*/
  .wrapper-s2-1 {
    order: 1;
  }

  .wrapper-s2-2 {
    order: 3;
  }

  .wrapper-s2-3 {
    order: 2;
    width: 650px;
  }
  /***************/
  .s-item-s3 {
    display: none;
  }
}

/*
-------------------------------------------------------
*/

@media screen and (min-width: 1200px) {
  .limiter-header {
    max-width: 1160px;
  }

  /*Display-styles*/

  .dis-s1 {
    display: flex;
  }

  .dis-s3 {
    display: flex;
    padding: 0;
  }

  .dis-btn-s2 {
    display: block;
  }

  .dis-btn-s3 {
    display: inline-block;
  }

  .dis-btn-bur {
    display: none;
  }

  .d-text-s2 {
    display: inline-flex;
  }
  /***************/

  /*order-s2*/
  .wrapper-s2-1 {
    order: 1;
    width: 170px;
  }

  .wrapper-s2-2 {
    order: 3;
    width: 440px;
  }

  .wrapper-s2-3 {
    order: 2;
    width: 440px;
  }
  /***************/

  .s-item-s3 {
    display: list-item;
    border-left: 1px solid#414141;
    padding-left: 10px;
  }
}

/*
-------------------------------------------------------
Breakpoint - 1440px
*/
@media screen and (min-width: 1440px) {
  .limiter-header {
    max-width: 1400px;
  }

  .d-text-s2 {
    display: inline-flex;
  }

  .s-item-s3 {
    display: list-item;
    border-left: 1px solid#414141;
    padding-left: 10px;
  }
}
