/*
Block-12
*/

/*
-------------------------------------------------------
Breakpoint - 375px
*/


.background-b12 {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-b12 {
  border: 1px solid #d1d2d2;
  border-radius: 4px;
}

.card-b12 {
  border: none;
  background-color: black;
  color: $white;
  text-align: center;
  font-size: 12px;
}

// .card-body *:nth-child(1) {
//   margin-top: 0;
// }
//
// .card-body * + * {
//   margin-top: 10px;
// }

/*Breakpoint - 768px*/
@media screen and (min-width: 768px) {
}
/*Breakpoint - 1024px*/
@media screen and (min-width: 1024px) {
}

/*Breakpoint - 1440px*/
@media screen and (min-width: 1440px) {
}
