/*Global-styles*/

a {
  display: inline-block;
}

.order-col-custom-1 {
  order: 1;
}

.order-col-custom-2 {
  order: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 30px;
  word-break: break-word;
}

@media screen and (min-width: 768px) {
  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }
}

@media screen and (min-width: 1440px) {
  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }
}
