/*Global-styles*/

a {
  display: inline-block;
}

.order-col-custom-1 {
  order: 1;
}

.order-col-custom-2 {
  order: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 30px;
  word-break: break-word;
}

 /*Breakpoint - 768px*/
 @include media-breakpoint-up(md) {
  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }
 }

 /*Breakpoint - 1024px*/
@include media-breakpoint-up(lg) {

  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }

}

/*Breakpoint - 1200px*/
@include media-breakpoint-up(xl) {

}

/*Breakpoint - 1440px*/
@include media-breakpoint-up(xxl) {

  .order-col-custom-1 {
    order: 2;
  }

  .order-col-custom-2 {
    order: 1;
  }

}
