/*
Block-8
*/

/*
-------------------------------------------------------
Breakpoint - 375px
*/

.background-b8{
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-b8{
  background-color: $white;
}

.wrapper-b8 * + *{
  margin-top: 10px;
}

.card-body-b8{
  height: 100%;
}

.card-body-b8 * + *{
  margin-top: 10px;
}

.card-body-b8 *:nth-child(1){
  margin-top: 0;
}

.card-b8{
  border: none;
  color: black;
  background-color: #e3e5e9;
}

.l-card-b8{
  font-size: 12px;
  color: #808080;
}

.card-img-b8{
  width: 100%;
  height: 100%;

}

.img-fluid-b8{
  width: 100%;
  height: 100%;
}

.btn-b8{
  background-color: #d01318;
  color: white;
}

.btn-b8:hover{
  background-color:black;
  border: 1px solid black;
  color: white;
}

.dis-text-b8{
 display: none;
}

.heading-btn-size-b8{
font-size: 12px;
}

/* .wrapper-info-hero *:nth-child(1){
  margin-top: 0;
}

.wrapper-info-hero * + *{
  margin-top: 16px;
} */

/*
-------------------------------------------------------
Breakpoint - 768px
*/
@include media-breakpoint-up(md) { 

  .wrapper-b8 * + *{
    margin-top: 10px;
  }

  .card-body-b8 * + *{
    margin-top: 10px;
  }

  .dis-text-b8{
    display: none;
   }
   
   .heading-btn-size-b8{
   font-size: 12px;
   }

}

/*
-------------------------------------------------------
Breakpoint - 1024px
*/
@include media-breakpoint-up(lg) { 

  .wrapper-b8 * + *{
    margin-top: 0;
  }

  .card-body-b8 * + *{
    margin-top: 10px;
  }
  
  .dis-text-b8{
    display: none;
   }

   .heading-btn-size-b8{
   font-size: 20px;
   }
}
/*
-------------------------------------------------------
Breakpoint - 1200px
*/
@include media-breakpoint-up(xl) { 

  .dis-text-b8{
    display: block;
   }
   
   .heading-btn-size-b8{
   font-size: 20px;
   }

}
/*
-------------------------------------------------------
Breakpoint - 1440px
*/
@include media-breakpoint-up(xxl) { 

  .wrapper-b8 * + *{
    margin-top: 0;
  }

  .card-body-b8 * + *{
    margin-top: 10px;
  }

  .dis-text-b8{
    display: block;
   }
   
   .heading-btn-size-b8{
   font-size: 25px;
   }

}
