/*

Styles-Block-4

*/

/*
-------------------------------------------------------
Breakpoint - 375px
*/

.background-b6 {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  .wrapper-b6 {
    overflow: hidden;
  }
}

.wrapper-title-b6 {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#btn-prev-b6{
  margin: 0;
  background-color: $white;
  border: none;

}

#btn-next-b6{
  margin: 0;
  background-color: $white;
  border: none;

}

.styles-link-b6{
  text-decoration: none;
  color: #979797;
  transition: all .5s;
}

.styles-link-b6:hover{
  color: #d01418;
}

.title-b6 {
  margin: 0;
}
.carousel-b6 {
  padding: 0;
}

.card-b6 {
  min-height: 160px;
  background-color: #f5f5f5;
  border: none;
  .card-img-b6{
    display: flex;
    justify-content: center;
  }
}

#custom-row-b6{
  flex-wrap: nowrap;
  transform: translateX(0px);
  transition: all .5s;
  margin-top: 20px;
  .custom-col-b6{
    background-color: $white;
  }
}

/*
 -------------------------------------------------------
 Breakpoint - 768px
 */

/*
 -------------------------------------------------------
 Breakpoint - 1024px
*/

/*
 -------------------------------------------------------
 Breakpoint - 1440px
 */
