/*
Footer
*/

/*
-------------------------------------------------------
Breakpoint -365px
*/

.background-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.custom-list-footer {
  margin-top: 0;
  * + * {
   margin-top: 10px;
  }
  *:nth-child(1) {
    margin-top: 0;
  }
}

// .custom-list-footer * + * {
//   margin-top: 10px;
// }
//
// .custom-list-footer *:nth-child(1) {
//   margin-top: 0;
// }

.custom-card-footer {
  border-radius: 4px;
  margin-top: 12px;
}

.wrapper-card-img-footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .content-card-img {
    border-radius: 100%;
    border: 2px solid #cccccc;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: flex;
      width: 50px;
      height: 50px;
    }
  }
}

.wrapper-card-info-footer {
  text-align: center;
  padding: 12px;

  .wrapper-input-footer::placeholder {
    text-align: center;
    line-height: 100px;
  }

  .custom-btn-form-f {
    width: 100%;
  }
}

.wrapper-card-info-footer * + * {
  margin-top: 12px;
}

.wrapper-card-info-footer *:nth-child(1) {
  margin-top: 0;
}

.wrapper-rs-f {
  display: flex;

  .item-rs {
    display: flex;
    margin: 0px 4px;

    .style-l-rs-f {
      display: flex;
      background-color: $white;
      border-radius: 4px;
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center;
    }
  }
}

.background-botton-bar-fotter{
 background-color: Black;
}

.dis-fd {
  display: none;
}

.dis-fm {
  display: flex;
}

.custom-p-btn-f{
  position: fixed;
  left: 70%;
  bottom: 5%;
}

/*
-------------------------------------------------------
Breakpoint - 768px
*/
@include media-breakpoint-up(md) {

  .custom-p-btn-f{
    position: fixed;
    left: 80%;
    bottom: 5%;
  }

  .custom-card-footer {
    margin-top: 12px;
  }

  .dis-fd {
    display: flex;
  }

  .dis-fm {
    display: none;
  }
}

/*
 -------------------------------------------------------
 Breakpoint - 1024px
 */

@include media-breakpoint-up(xl) {

  .custom-p-btn-f{
    position: fixed;
    left: 85%;
    bottom: 5%;
  }

  .dis-fd {
    display: flex;
  }

  .dis-fm {
    display: none;
  }

}

/*
-------------------------------------------------------
Breakpoint - 1440px
*/

@include media-breakpoint-up(xxl) {
  .dis-fd {
    display: flex;
  }

  .dis-fm {
    display: none;
  }

}
