/**
*  Block-3
*/

/**
*  -------------------------------------------------------
*  Breakpoint - 375px
*/

.background-b3{
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;

  .wrapper-b3{
    border: 1px solid #d1d2d2;
    border-radius: 4px;
  }
}

.wrapper-card-b3{
  display: flex;
  border: none;
  padding: 10px;
  text-align: center;
  align-items: center;

  .card-img-b3{
    display: flex;
    width: 150px;
    justify-content: center;

    .wrapper-card-img-b3{
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      border: 1px solid #f0f0f0;
      width: 80px;
      height: 80px;
      transition: all 0.5s;

      svg{
        width: 30px;
        height: 30px;
      }
    }
  }
  &:hover{
    .card-img-b3{
      .wrapper-card-img-b3{
        border: 1px solid $primary;
      }
    }
  }
}

.wrapper-card-b3{
  .card-body{
    margin-top: 0;
    margin-left: 10px;

    .card-title-b3{
      font-size: 12px;
      line-height: 1.2;
    }
    .card-text-b3{
      font-size: 10px;
      line-height: 1.2;
    }
    *:nth-child(1){
      margin-top: 0;
    }
    * + *{
      margin-top: 10px;
    }
  }
}

/**
*  -------------------------------------------------------
*  Breakpoint - 768px
*/

@include media-breakpoint-up(md){

  .wrapper-card-b3{
    display: flex;
    border: none;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-body{
      margin-top: 10px;
    }

  }

  .wrapper-card-b3{
    .card-body{
      margin-left: 0;
    }
    .card-img-b3{
      width: 150px;

      .wrapper-card-img-b3{
        width: 80px;
        height: 80px;
        transition: all 0.5s;

        svg{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

/**
*  -------------------------------------------------------
*  Breakpoint - 1024px
*/

@include media-breakpoint-up(lg){

  .wrapper-card-b3{
    flex-direction: row;

    .card-body{
      margin-top: 0;
      margin-left: 10px;
    }

    .card-img-b3{
      width: fit-content;
      
      .wrapper-card-img-b3{
        width: 50px;
        height: 50px;
        transition: all 0.5s;

        svg{
          width: 20px;
          height: 20px;
        }
      }
    }

  }
}

/**
*  -------------------------------------------------------
*  Breakpoint - 1440px
*/
